.swal2-popup .swal2-icon {
    margin: 2.5em auto 0.6em;
}

.card .card-header {
    padding: 2rem 2.25rem;
}

.card {
    .card-search {
        padding: 2rem 2.5rem;
    }
    .card-filter {
        padding-left: 2.5rem;
    }
}